body {
    font-family: sans-serif;
    background-color: #DCDCDC;
}

#timer {
    border: 1px solid black;
    text-align: center;
}

#timertext {
    font-size: 48pt;
}

#shufflePattern{
	font-size: 22pt;
	font-weight: bold;
}

#shuffle{
	margin: auto;
	padding: 10px;
	width: 50%;
}